<h1> Welcome to Super Rentals </h1>

<p id="intro">We hope you find exactly what you're looking for in a place to stay. Our selection of accomodations includes:</p>

<ul>
  {{#each model as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}
</ul>

{{new-rental saveRental2="saveRental3"}}
