<h2>Current News and Updates</h2>

<ul>
  {{#each model as |announcement|}}
    {{announcement-tile announcement=announcement destroyAnnouncement="destroyAnnouncement"}}
  {{/each}}
</ul>

{{new-announcement saveAnnouncement2="saveAnnouncement3"}}

{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
